In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
import time

In [2]:
url1 = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
response = requests.get(url1)

In [3]:
soup1 = bs(response.text, "html5lib")
type(soup1)

bs4.BeautifulSoup

In [4]:
news_title = soup1.find_all('div', class_='content_title')[0].find('a').text.strip()
print(news_title)

NASA Announces Landing Site for Mars 2020 Rover

In [5]:
news_p = soup1.find_all('div', class_='rollover_description_inner')[0].text.strip()
print(news_p)

After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.

In [6]:
executable_path = {'executable_path':'/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [8]:
browser.visit(url2)

In [9]:
html = browser.html
soup2 = bs(html, "html5lib")

In [10]:
partial_address = soup2.find_all('a', class_='fancybox')[0].get('data-fancybox-href').strip()

In [11]:
featured_image_url = "https://www.jpl.nasa.gov"+partial_address
print(featured_image_url)
browser.visit(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18049_ip.jpg

In [12]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [14]:
html = browser.html
soup3 = bs(html, "html5lib")

In [15]:
mars_weather = soup3.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0].text
print(mars_weather)

That’s no snowman, it’s Saturn’s moons Dione (top) and Rhea (bottom) https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA12728 …pic.twitter.com/5w86w3JGE2

In [16]:
url4 = 'https://space-facts.com/mars/'

In [17]:
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [18]:
df = tables[0]
df.columns=['description','value']
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [20]:
df.to_html('table.html')

In [21]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [22]:
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)

In [23]:
html = browser.html
soup5 = bs(html,"html5lib")

In [24]:
hemisphere_image_urls = []

In [25]:
dict = {}

In [26]:
results = soup5.find_all('h3')

In [27]:
for result in results:
    
    itema = result.text
    time.sleep(1)    
    browser.click_link_by_partial_text(itema)
    time.sleep(1)

    htmla = browser.html
   
    soupa = bs(htmla,"html5lib")
    time.sleep(1)
   
    linka = soupa.find_all('div', class_="downloads")[0].find_all('a')[0].get("href")
       
    time.sleep(1)
    dict["title"]=itema
  
    dict["img_url"]=linka
 
    hemisphere_image_urls.append(dict)
   
    dict = {}
    browser.click_link_by_partial_text('Back')
    time.sleep(1)

In [28]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]